{{#if showFooter}}
{{#if showNewsBanner}}
  <div id="news-banner">
    <div class="news-banner-wrapper">
      <div class="news-banner-body">
        <div class="news-banner-title">Get the latest product news and updates</div>
        <div class="news-banner-button">
          {{#link-to "signup" class="btn"}} 
            SIGN UP AND SUBSCRIBE TO OUR NEWSLETTER
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{/if}}
